body, html{
    font-family: 'Acme', sans-serif;
    height: 100%;
    color: ghostwhite;
    background-color: rgb(52,58,64);
}

.botones button{
    border-radius: 50%;
}

#contenido{
    display: grid;
    grid-template-columns: repeat(5, 5vh);
    grid-template-rows: repeat(7, 5vh);
}

.celda{
    border: 1px black solid;
    /* float: left; */
}

.player{
    width: 4vh;
    height: 4vh;
}