body, html{
    font-family: 'Acme', sans-serif;
    height: 100%;
    color: ghostwhite;
}

.botones button{
    border-radius: 50%;
}
/* 
.hide-button{
    background: transparent;
}

.hide-button:hover{
    cursor: default;
} */